.about_section-item{
    gap: 60px;
}
.about_section-item p i{
    color: #f9a826;
    font-size: 1.1rem;
}

.about_section-item p{
    gap: 10px;
}

@media only screen and (max-width:997px) {
    .about_section-content h2{
        font-size:1.5rem ;
    }
    .about_section-item{
        column-gap: 3rem;
    }
    .about_section-item p{
        font-size: 0.7rem;
        /* margin-bottom: 0; */
    }

    .section__description i{
        font-style: 0.8rem !important;
    }
}

@media only screen and (max-width:767px){
    .about_img{
        margin-top: 30px;
    }
    
}

@media only screen and (max-width:576px){
    .about_section{
        /* margin-top: 250px; */
    }
}