.footer{
    background: #000d6b;
    padding-top: 50px;
    padding-bottom: 15px;
}

.footer_logo i{
    color: #fff;
    font-weight: 400;
}
.footer_logo span{
color: #fff;
font-weight: 500;
}

.footer_logo-content{
    color: rgba(255,255,255,0.715);
    margin-top: 15px;
    line-height: 30px;
}

.quick_link{
    border: none !important;
    background: transparent !important;

}

.quick_link a{
    color: rgba(255,255,255,0.715);
    text-decoration: none;
    font-weight: 300;
}

.quick_link a:hover{
    color:skyblue;
}

.footer_link-title{
    color: #fff;
}

.office_info{
    color: rgba(255,255,255,0.715);
    font-weight: 300;
   
}

.newsletter{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    padding: 8px 12px;
    border: 1px solid #7c8a972f;
    border-radius: 50px;
    background: #020a4de9;
}

.newsletter input{
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    
}

.newsletter span i{
    color: #fff;
    cursor: pointer;
}

/* .section_description{
    display: flex;
    justify-content:center ;
    align-items: center;
    color: #000;
    gap: 12px;
    margin-right: 136px;
} */

.footer_bottom{
    border-top: 1px solid #7c8a972f;
}

@media only screen and (max-width:768px){
    .footer_logo-content{
        font-size: .8rem;
    }

    .quick_link,.office_info{
        font-size: .8rem;
        margin-bottom: 10px;
        line-height: 1.5rem;
    }
    .footer_link-title{
        font-size: 1rem;
        margin-top: 15px;
    }

    .footer_bottom p{
        font-size: .7rem;
        
    }
}